header{
    background: rgb(204, 203, 200); 
}
.logo img{
   height: 50px;
}
body{
   margin: 0;
   padding: 0;
}
header ul{
   list-style: none;
   display: flex;
}
header{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
header li a  ,header li{
   padding: 5px;
}
main{
   width: 900px;
   margin:0 auto;
   display: flex;
   flex-direction: column;
   }
   
 
.card{
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  display: flex;
  margin-top: 20px;
  justify-content: center
}
.card img{
   margin-top: 15px;
   border-radius: 15px;
   width: 15px;
   height: 15px;
}
.vbn{
   margin-top: 10px;
   border-radius: 10px;
   width: 10px;
   height: 10px;   
   padding: 198;
}
.pop{
   margin-top: 15px;
   border-radius: 15px;
   overflow: hidden;
   /* height: 750px; */
   display: flex;
   justify-content: space-around;
}
.pop a{
    width: 33%;
    /* border-radius: 15px; */
}
.pop img{
   width: 100%;
}
.trd{
   border: 1px solid rgb(0, 0, 0);
   border-radius: 15px;
   padding: 15px;
   display: flex;
   margin-top: 15px;
   /* margin-left: 100px; */
   margin-top: 20px;
}
.sides{
    display: flex;
}
.hhhy{
   margin-top: 15px;
   border-radius: 15px;
   overflow: hidden;
   display: flex;
   justify-content: space-around;
}
.hhhy img{

}







@media (min-width:1921px){
   header{ 
       justify-content: center;
   }
   }
   
